<!--about.ejs--->
<!DOCTYPE html>
<html lang="fi">
	<head>
		<% include head %>
		
		<% include menu %>
	</head>
<body>

	<section class="conteiner-fluid about" >
		<div class="container p-4 ">
			<h1 class="h1"><%= title %></h1>
			<h3 class="h3">Yrityksen ja tarjoamien palvelujen kuvaus</h3>
			<p>KTI Kiinteistötieto Oy on kiinteistöalan informaatio- ja benchmarking-palveluja
			sekä asiantuntija- ja tutkimuspalveluja tarjoava yritys. KTI:ssä palvelujen kehittämisestä on muodostunut omaleimainen, vakioitu toimintatapa. Mittava, uuden palvelun kehitysprojekti saa usein alkunsa asiakkaalta tulevasta ideasta tai tarpeesta. Sen jälkeen KTI etsii 10–20 palveluideasta kiinnostunutta toimijaa ja lähtee yhdessä heidän kanssaan kehittämään ideaa. Siten myös tulevia asiakkaita sitoutetaan palveluun. Palvelua kehitetään yhteistyössä asiakkaan kanssa esimerkiksi erilaisten workshopien, haastatteluiden ja palvelun pilotointikierrostenkautta.</p>
			
			<p>Jatkuvaa palvelun kehittämistä tehdään normaalin työn ohessa asiakkailta tulevan palautteen perusteella. Esimerkiksi benchmarking-palveluihin on liitetty lisäanalyysejä asiakkaiden toiveiden mukaisesti. Kimmokkeita uusien ja olemassa
			olevien palvelujen kehittämiseen saadaan jatkuvasti, kun toimiala ja asiakkaat
			muuttuvat ja kehittyvät. Tiivis vuorovaikutus asiakkaan kanssa on tärkeää, jotta
			muuttuviin asiakastarpeisiin osataan vastata.</p>
		
			<button type="button" class="btn btn-info shadow-none" onclick="window.location.href='/'">Takaisin</button>
		
		</div>
	</section>
</body>
<footer> <% include footer %></footer>
</html>

