<!-- alert.ejs -->
<!DOCTYPE html>
<html lang="fi">
<head>
	<% include head %>
</head>
<body>
	<header><% include menu %></header>

	<main class="conteiner-fluid login">
		<section class="ml-5 mt-5">
			<h2 class="h2 m-2"><%= title %></h2>
		</section>

		<section class="col-sm-6 mt-3 mb-3 ml-3">
			<div class="ml-4">
			<input type="submit" class="btn btn-primary shadow-none" name="register" value="Rekisteröidä" onclick="window.location='http:/users/register'">
			<input type="submit" class="btn btn-secondary m-2 shadow-none" onclick="window.location='http:/';return false;" Value="Peru">
			</div>

		</section>
	</main>
	<footer>
			<% include footer %>
	</footer>
</body>
</html>
