<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body>
  <header>
        <% include menu %>
  </header>
  <main>
    <section id="post_form_area" style="display:none">
      <% include restpostform %>
    
    </section>

    <section id="api_area" style="display:none">
      <% include apidescr %>
    </section>

    <section id="msg_area" style="display:block">
      <% include main %>
    </section>
  </main>
  <footer>
        <% include footer %>
  </footer>
</body>
</html>
