<!-- main.ejs -->

<!---conteiner--->

<main class="conteiner-fluid login">
    
    <div class="row" id="row_main">
            <!---sidebar left--->
            <div class="col-3 mt-3" id="catApi">
            	
              <div class="head text-center">
    				    <h4 class="mt-3 p-2">Cat's Facts Api</h4>
    				    <img class="img my-3" src="images/animal.png" alt="smiling kissa"><br>
    				    <button type="reset" onclick="getCat()" class="btn btn-primary my-3 getbutton shadow-none">Get A Fact</button>
  				    </div>
              <div class="list-group mx-3 my-3 facts"></div>
              </div>

            <!---messages here--->
            <div class="col-xl-7 ">
              <div id="msg_area" style="display:block" class="d-flex justify-content-center"><% include messages %></div>
            </div>
            <!---sidebar right--->
            <div class="col-2"></div>
            </div>
</main>





