
<section class="row bg-secondary">
	<nav class="navbar navbar-expand-lg navbar-light" role="navigation">
		 <div class="container-fluid">
		  	<a class="navbar-brand text-white" onclick="window.location.href='/'" type="button">KTI Kiinteistötieto Intranet</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

   				 <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


   				 	<% if( login != null ) { %>

   				 	<li class="nav-item active ">
						
						<a class="nav-link bg-secondary text-white active" type="button" onclick="return postMsg()">Lähetä viesti<span class="sr-only">(current)</span></a>
					</li>


					<li class="nav-item active ">
						<a class="nav-link bg-secondary text-white active" type="button" onclick="return deleteData('<%=login%>')">Poista<span class="sr-only">(current)</span></a>
					</li>


					<li class="nav-item active ">
						<a class="nav-link bg-secondary text-white active" type="button" onclick="return modMsg('<%=login%>')">Muokkaa<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link bg-secondary text-white" onclick="window.location.href='/about'" type="button" >Tietoja yrityksestä<span class="sr-only">(current)</span></a>
					</li>

						<li class="nav-item">
						<a class="nav-link bg-secondary text-white" onclick="window.location.href='users/logout'" type="button" >Kirjaudu ulos<span class="sr-only">(current)</span></a>
					</li>

					<% } else { %>	

					<li class="nav-item">
						<a class="nav-link bg-secondary text-white" onclick="window.location.href='users/login'" type="button">Kirjaudu<span class="sr-only">(current)</span></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link bg-secondary text-white" onclick="window.location.href='/about'" type="button" >Tietoja yrityksestä<span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link bg-secondary text-white" onclick="window.location.href='users/register'" type="button">Rekisteröidy <span class="sr-only">(current)</span></a>
						
					</li>

					<% } %>

				</ul>
			</div>
		 </div>
	</nav>
</section>

