
<!DOCTYPE html>
<html>
<head>
	<% include head %>
</head>

<body>
	<main>
		<header>
			<% include menu %>
		</header>
		<section class="p-3">
			<h2 class="h2 p-2"><%= title %></h2>
		</section>
		<section class="container-fluid d-flex flex-column postform">		
			<form method='POST' action='/post'>

				<input type="hidden" name="sender" value="<%= login %>">
				<section class="row p-3">

					<label for="topic" class="col-sm-1">Aihe:</label>
					<section class="col-sm-4">
						<input type="text" placeholder="Viestin aihe" name="topic" required='true' value="">
					</section>
				</section>
				<section class="row p-3">
					<label for="message" class="col-sm-1">Viesti:</label>
					<section class="col-sm-4">
						<textarea name="message" placeholder="Viesti" rows="3" cols="50"  value="<%= messages %>"></textarea>
					</section>
				</section>
				<section class="row p-3">
					<label class="col-sm-1"></label>
					<section class="col-sm-4">
						<input type="submit" class="btn btn-primary mr-4 shadow-none" value="Lähetä">
						<input type="submit" class="btn btn-dark shadow-none " onclick="window.location='http:/';return false;" Value="Peru">
					</section>
				</section>
			</form>
		</section>
	</main>
    <footer>
        <% include footer %>
    </footer>
</body>
</html>
