<!-- register.ejs -->
<!DOCTYPE html>
<html lang="fi">
<head>
	<% include head %>
</head>
<body>
	<header>
			<section class="row bg-secondary">
				<nav class="navbar navbar-expand-lg navbar-light" role="navigation">
		 			<div class="container-fluid">
		  				<a class="navbar-brand text-white" onclick="window.location.href='/'" type="button">KTI Kiinteistötieto Intranet</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      						<span class="navbar-toggler-icon"></span>
    					</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">

   				 				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
   				 				<% if( login != null ) { %>

	   				 			<li class="nav-item active ">
								<!--<a class="nav-link bg-secondary text-white active" type="button" onclick="window.location.href='/service'">Palvelu <span class="sr-only">(current)</span></a>-->
									<a class="nav-link bg-secondary text-white active" type="button" onclick="return postMsg()">Lähetä viesti<span class="sr-only">(current)</span></a>
								</li>


								<li class="nav-item active ">
									<a class="nav-link bg-secondary text-white active" type="button" onclick="return deleteData('<%=login%>')">Poista<span class="sr-only">(current)</span></a>
								</li>


								<li class="nav-item active ">
									<a class="nav-link bg-secondary text-white active" type="button" onclick="return modMsg('<%=login%>')">Muokka<span class="sr-only">(current)</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link bg-secondary text-white" onclick="window.location.href='/about'" type="button" >Tietoja yrityksestä<span class="sr-only">(current)</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link bg-secondary text-white" onclick="window.location.href='users/logout'" type="button" >Kirjaudu ulos<span class="sr-only">(current)</span></a>
								</li>

							<% } else { %>	

								<li class="nav-item">
									<a class="nav-link bg-secondary text-white" onclick="window.location.href='users/login'" type="button">Kirjaudu<span class="sr-only">(current)</span></a>
								</li>
						
								<li class="nav-item">
									<a class="nav-link bg-secondary text-white" onclick="window.location.href='/about'" type="button" >Tietoja yrityksestä<span class="sr-only">(current)</span></a>
								</li>
							<% } %>

						</ul>
					</div>
				  </div>
				</nav>
			</section>
	</header>

	<main class="conteiner-fluid login">
		<section class="ms-5 mt-5">
			<h2 class="h2"><%= title %></h2>
		</section>
		<section class="col-sm-6 mt-3 mb-3 ms-5">
			<form method='POST' action='/users/register' class=" mt-3 mb-3 pt-3 ms-5">
				<div class="row p-2">
					<label for="userid" class="col-sm-4">Käyttäjätunnus:</label>
					<div class="col-sm-3">
						<input type="text" placeholder="Tunnus" name="userid" required="true" value="">
					</div>
				</div>
				<div class="row p-2">
					<label for="passwd" class="col-sm-4">Salasana:</label>
					<div class="col-sm-3">
						<input type="password" placeholder="Salasana" name="passwd" required='true' value="">
					</div>
				</div>
				<div class="row p-2">
					<label class="col-sm-4"></label>
					<div class="col-sm-8">
						<input type="submit" class="btn btn-primary" name="kirjaudu" value="Rekisteröidy">

						<input type="submit" class="btn btn-secondary m-2" onclick="window.location='http:/';return false;" Value="Peru">
					</div>
				</div>
			</form>
		</section>
	</main>
	<footer>
			<% include footer %>
	</footer>
</body>
</html>
