<!-- postform.ejs -->
<main class="container-fluid d-flex flex-column postform">	
	<section class="col-sm-6 mt-3 mb-3 pt-3 ml-3">
	<form id="postform" onsubmit="event.preventDefault(); return postValue()">
		<input type="hidden" name="sender" value="<%= login %>">

		<section class="row p-2">
			<label for="topic" class="col-sm-2">Aihe:</label>
			<section class="col-sm-4">
			<input type="text" placeholder="Viestin aihe" name="topic" required='true' value="">
			</section>
		</section>

	<section class="row p-2">
		<label for="message" class="col-sm-2">Viesti:</label>
		<section class="col-sm-4">
			<textarea name="message" placeholder="Viestin sisältö" rows="3" cols="30" name="message" value="<%= messages %>" ></textarea>
		</section>
	</section>
	<section class="row p-2">
		<label class="col-sm-2"></label>
		<section class="col-sm-4">
			<input type="submit" class="btn btn-primary mr-3" value="Lähetä">
			<input type="submit" class="btn btn-secondary" onclick="window.location='http:/';return false;" Value="Peru">
		</section>
	</section>
</form>
</section>
</main>