
@media (max-width: 992px) { 

#catApi {
	width: 100%;
}
}


body {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #000000;
background-color: #F0F0F0;
}

header {
	background-color: #154360 ;
	/*width: 100%;*/
}

a.nav-link.bg-secondary.text-white, section#navbarSupportedContent, button.btn.btn-secondary.btn-lg.active, section.row.bg-secondary {
	background-color:  #154360  !important;
	/*border: 2px solid red;*/
}

button.navbar-toggler {
	background-color: white !important;
}

nav.navbar.navbar-expand-lg.navbar-light {
	width: 100%;
}

button.navbar-toggler {
	padding: .25rem !important;
}


section.row.bg-secondary {
	margin: 0;
}


div#footer {
	margin-top: 1rem;
	padding-top: 1.1rem;
	padding-bottom: 0.1rem;
	background-color: #154360 ;
	color: white;
}

 .postform, section#msg_area, section.container-fluid.mt-3.mb-3, .about  {
   /* min-height: 76vh;*/
   min-height: 82.4vh;

}
.login {
	min-height: 76vh;
}


#row_main {
	margin: 0px !important;
}

.table-responsive-md, .show_h2 {
    width: 80%;
    margin: 0 auto 0 auto;
}

.show_h2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

img.img.my-3 {
    width: 30%;
}


.list-group.mx-3.my-3.facts {
    height: auto;
}
